.Contact {
  :global {
    .Contact {
      &-container {
        padding: 0 64px;
        width: 100%;
        h1 {
          display: flex;
          justify-content: space-between;
          padding: 5rem 0 30px 0;
        }
        span.title {
          font-family: 'gilroy-semibold';
          font-size: 13px;
          line-height: 1.8;
        }
        p,
        label {
          font-size: 13px;
          line-height: 1.8;
        }
        input {
          font-size: 13px;
          line-height: 1.8;
          font-family: 'gilroy-regular';
        }
      }
      &-content {
        display: grid;
        grid-template-columns: 45% 55%;
        gap: 24px;
        padding-bottom: 40px;
      }
      &-desc,
      &-form {
        width: 100%;
        height: 700px;
        border: 1px solid var(--line-color);
        padding: 40px 30px;
      }
      &-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-top {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      &-social {
        justify-content: left;
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
      &-community,
      &-senTo {
        display: flex;
        flex-direction: column;
        gap: 12px;
        p {
          font-family: 'gilroy-light';
        }
      }
      &-infor {
        display: flex;
        flex-direction: column;
        gap: 20px;
        > span.title {
          margin-bottom: 14px;
        }
        p {
          font-family: 'gilroy-semibold';
          font-size: 13px;
          line-height: 1.8;
        }
      }
      &-select {
        display: flex;
        flex-direction: row;
        gap: 30px;
        span {
          font-family: 'gilroy-regular';
          font-size: 13px;
          line-height: 1.8;
        }
      }
      &-gender {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-type {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 18px;
      }
      &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
            .ant-pagination-size-changer
          )
          .ant-select-selector {
          border-bottom: 0.5px solid var(--line-color) !important;
          box-shadow: none !important;
          border-radius: 0;
          font-family: 'gilroy-regular';
          font-size: 13px;
          color: black;
        }
        .ant-select-selector {
          background: inherit;
          border: none;

          &:hover,
          &:focus {
            border-color: var(--line-color) !important;
            box-shadow: none !important;
          }
        }
      }
      &-content {
        display: grid;
        grid-template-columns: 45% 55%;
        gap: 24px;
        padding-bottom: 40px;
      }
      &-desc,
      &-form {
        width: 100%;
        height: 700px;
        border: 1px solid var(--line-color);
        padding: 40px 30px;
      }
      &-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          font-family: 'gilroy-regular';
          font-size: 13px;
          line-height: 1.8;
        }
        span.title {
          font-family: 'gilroy-semibold';
          font-size: 13px;
          line-height: 1.8;
        }
      }
      &-top {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      &-title {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        svg {
          width: 16px;
          height: 16px;
        }
        p {
          font-family: 'gilroy-light';
        }
      }
      &-social {
        justify-content: left;
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
      &-community {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}
