.Account {
  :global {
    padding: 40px 56px;
    .Account {
      align-items: end;
      &-block {
        position: relative;
        h3 {
          font-size: 40px;
          font-family: 'gilroy-semibold';
        }
      }
      &-icon {
        position: absolute;
        left: 0;
        bottom: -20px;
        svg {
          width: 172px;
          height: 228px;
        }
      }
    }
  }
}
