.Collection {
  padding-inline: 64px;
  margin-bottom: 90px;
  :global {
    .collection {
      &-fillter-btn {
        display: flex;
        align-items: center;
        gap: 11.5px;
        margin-bottom: 15px;
      }
      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 64px;
      }
      &-header {
        font-family: 'channe';
        font-size: 40px;
        line-height: 1.5;
      }
      &-wrapper {
        position: relative;
        width: 100%;
      }
      &-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &-item {
        position: relative;
        width: calc(25% - 24px * 3 / 4);
        flex-shrink: 0;
      }
      &-scroll-right {
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%) translateX(190%);
        color: black;
        cursor: pointer;
        &.--hidden {
          display: none;
        }
      }
      &-scroll-left {
        position: absolute;
        color: black;
        left: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%) translateX(-190%);
        cursor: pointer;
        &.--hidden {
          display: none;
        }
      }
      &-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.7;
      }
      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
      }
      &-soldout {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 100%);
        z-index: 100;
      }
    }
  }
  @media only screen and (min-width: 901px) and (max-width: 1280px) {
    :global {
      .collection {
        &-item {
          width: calc(33.3333% - 24px * 3 / 3);
        }
        &-content {
          gap: 40px;
        }
      }
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 901px) {
    :global {
      .collection {
        &-container {
          justify-content: space-between;
        }
        &-item {
          width: calc(50% - 10px);
        }
        &-content {
          gap: 30px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    :global {
      padding-inline: 40px;
      .collection {
        &-header {
          font-family: 'gilroy-bold';
          font-size: 30px;
          text-align: left;
        }
        &-content {
          align-items: flex-start;
          gap: 20px;
          text-align: left;
        }
        &-item {
          width: 100%;
        }
      }
    }
  }
}
