.Collection {
  padding-inline: 64px;
  margin-bottom: 90px;
  :global {
    .collection {
      &-fillter-btn {
        display: flex;
        align-items: center;
        gap: 11.5px;
        margin-bottom: 15px;
      }
      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 64px;
      }
      &-header {
        font-family: 'channe';
        font-size: 40px;
        line-height: 1.5;
      }
      &-wrapper {
        position: relative;
        width: 100%;
      }
      &-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &-item {
        width: calc(25% - 24px * 3 / 4);
        flex-shrink: 0;
      }
      &-scroll-right {
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%) translateX(100%);
        color: black;
        cursor: pointer;
        &.--hidden {
          display: none;
        }
      }
      &-scroll-left {
        position: absolute;
        color: black;
        left: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%) translateX(-190%);
        cursor: pointer;
        &.--hidden {
          display: none;
        }
      }
    }
  }
}
