.banner {
  width: 100%;
  :global {
    .banner-image {
      &-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      &-item {
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 350px;
          object-fit: cover;
        }
      }
    }
  }
}
